# just a generic gitignore
# modify to your liking
.vscode/*
/obj/Debug/*
*/VS_BUILD_OUTPUT/*
*/VS_PUBLISH_OUTPUT/*
*/VS_DEBUG/*

# dotnet autogen files
/src/bin/*
/src/obj/Debug/*
/src/obj/Release/*

# old nsi installer script
installer.nsi

# other things
*/temp
*.xcf

# hidden autogen macos files 
.DS_Store

# nightly build folder
build/nightly

# auto generated build files
*/buildtime.txt
*/type.txt
src/obj/*

src/.vs/*

# build folder
*/build/*
build/*